<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Blog Site</title>
<th:block th:replace="/fragments/template :: head-setup"></th:block>
</head>
<body>
	<div th:replace="/fragments/template.html::navbar"></div>
	<div class="container">
		<h1>Welcome to Our Blog Post Site!</h1>
		<h3>Check out our Blogs!</h3>

		<th:block th:each="blog: ${posts}">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title" th:text="${blog.title}"></h5>
							<div class="card-text">
								<p>
									By: <span th:text="${blog.author}"></span>
								</p>
								<p th:text="${blog.blogEntry}" />
							</div>
							<a th:href="@{blogposts/{id} (id=${blog.id})}"><button class="btn btn-primary">Edit Post</button></a> 
							<a th:href="@{blogposts/delete/{id} (id=${blog.id})}"><button class="btn btn-danger">Delete</button></a>
						</div>
					</div>
				</div>
			</div>
		</th:block>
	</div>
	<th:block th:replace="/fragments/template :: end-setup"></th:block>
</body>
</html>